.quiz-box{
    border: 2px solid aqua;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
}

.check-button{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


.option-box{
}

.eye-size{
    height: 30px;
    width: 30px;
    /* position: fixed; right: 0; top: 140px */
    float: right;
    margin-right: 20px;
}